                          /* ESSENTIALS */

                          
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    --main-color: #283526;
    --primry-color: #888888;
    --button-background: #4b709e;
    --primary-button-background: #fe7649;
    --background-color: #f0f7ff;
  }
  
  h1,
  h2 {
    font-family: Avenir LT Std;
    color: var(--main-color);
  }
  
  h4,
  h3 {
    font-family: "muli";
    color: var(--main-color);
  }
  
  h3 {
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
  }
  
  p,
  a,
  li,
  button {
    font-family: 'Mulish', sans-serif;
    color: var(--primry-color);
  }
  
  p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  li {
    list-style: none;
  }
  
 button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 2rem;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
 }

/*.................................... MENU STYLINBG ...........................................*/

header{
    /* border:  1px solid red; */
    margin: 0 6rem;
}

header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.left-side-menu{
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigations{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;

    /* border: 1px solid green; */

}

.right-side-menu{
    /* border: 1px solid green; */
    /* width: 30%; */
    /* margin: 0 1rem; */
    /* background-color: #4b709e; */

    
}
.right-side-buttons{
    /* border: 1px solid red; */
    /* margin: 6rem; */
    margin: 0 1rem;
    position: relative;
    z-index: 9;

}

.log-in{
    margin: 0 5rem;
}

.header-logo{
    /* border: 1px solid green; */
    
    width: 23rem;
    height: 10rem;

}

.header-logo-img{
    width: 100%;
    height: 100%;
}

.sign-up{
    background-color: var(--button-background);
    color: white;
}

.main-landing-section{
  width: 100%;
  height: 100vh;
  /* border: 1px solid rgb(62, 17, 134); */
  display: flex;
  margin: 0 6rem;

 
}

.left-section{
  width: 50%;
  /* border: 1px solid gold; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* justify-content: flex-start; */
  margin-bottom: 6rem;

}

.main-heading {
  font-size: 4rem;
  /* font-family: "Muli";
  color: var(--main-color); */
  line-height: 7rem;
  margin-bottom: 4rem;
}

.main-paragraph{
  max-width: 400px;
  margin-bottom: 4rem;
}

.appstore-playstore-img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;

}

.appstore-img-container{
  width : 13rem;
  height: 5rem;
  /* border: 1px solid red; */
}

.appstore-img{
  width: 100%;
  height: 100%;
}

.playstore-img-container{

  width : 13rem;
  height: 5rem;
  /* border: 1px solid red; */

}

.playstore-img{
  width: 100%;
  height: 100%;
}

.hero-img{
  width: 100%;
  position: absolute;
  top: 2%;
  /* background-color: #e0e8f1;  */
  border-radius: 60px;
  right: 0%;
  height: 100vh;
  display: flex;
  margin-right: 12rem;

} 

.right-section{
  width: 50%;
  /* border: 2px solid brown; */
  /* margin-right: 4rem; */
  height: 100vh;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e8f1; 

   border-radius: 90px 20px 0px 90px;
}